a.currentPage {
    background-color: beige !important;
}

a.currentPage:hover {
    cursor: pointer;
}

a.paging:hover {
    cursor: pointer;
}

.row {
    margin: 10px;
}

    .row strong {
        display: block;
    }

#dvHome {
    font-size: 35px;
}

    #dvHome h3 {
        color: orangered;
        font-size: 45px;
    }

    #dvHome strong {
        display: inline !important;
        color: red;
    }

.error {
    color: red;
    padding: 5px;
}

.highlight {
    background-color: #F8F8F8;
}

.import_excel {
    text-align: right;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
