@{
    Layout = null;
}

<div id="carousel">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
            <img src="~/Assets/img/first.jpg" alt="">
            <div class="carousel-text">
                <div class="line">
                    <div class="s-12 l-9">
                        <h2>Theme based on Responsee framework</h2>
                    </div>
                    <div class="s-12 l-9">
                        <p>
                            With amazing responsive carousel
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Assets/img/second.jpg" alt="">
            <div class="carousel-text">
                <div class="line">
                    <div class="s-12 l-9">
                        <h2>Build new layout in 10 minutes!</h2>
                    </div>
                    <div class="s-12 l-9">
                        <p>
                            Lightweight, more intuitive and useful responsive CSS framework
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Assets/img/third.jpg" alt="">
            <div class="carousel-text">
                <div class="line">
                    <div class="s-12 l-9">
                        <h2>Design theme is under the MIT license</h2>
                    </div>
                    <div class="s-12 l-9">
                        <p>
                            Best theme based on Responsee framework
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

<script type="text/javascript" src="~/Assets/_plugin/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	  $("#owl-demo").owlCarousel({
		slideSpeed : 300,
		autoPlay : true,
		navigation : false,
		pagination : false,
		singleItem:true
	  });
	  $("#owl-demo2").owlCarousel({
		slideSpeed : 300,
		autoPlay : true,
		navigation : false,
		pagination : true,
		singleItem:true
	  });
	});
        var checkScroll = false;
        $( window ).scroll(function() {
            if($(window).scrollTop() > 250 && !checkScroll){
                $("#logo_img").attr("src","/Assets/img/logo_l.png");
                $(".l-2").css("height","55px");
                $("li.logo a").css({"height":"55px","line-height":"1em"});
                $("li.logo a img").css("margin-top","-10px");
                checkScroll = true;
            }
            else if($(window).scrollTop() < 250 && checkScroll){
                $("#logo_img").attr("src", "/Assets/img/logo.png");
                $(".l-2").css("height","intial");
                $("li.logo a").css({"height":"","line-height":"intial"});
                $("li.logo a img").css({"margin-top":"0px","width":"90%"});
                checkScroll = false;
            }
        });

</script> 