@{
    Layout = null;
}

<header style="position: fixed;z-index: 999;width: 100%;">
    <nav>
        <div class="line">
            <div class="top-nav">
                <li class="logo hide-l">
                    <a href="~/Home/Index"><img src="~/Assets/img/logo_mini.png" /></a>
                </li>
                <p class="nav-text">Menü</p>
                <ul class="top-ul chevron">
                    <div class="s-12 l-5">
                        <div class="right">
                            <li> 
                                <a href="~/Home/Product">ÜRÜN HAKKINDA</a>
                            </li>
                            <li>
                                <a href="~/Home/Benefits">FAYDALARI</a>
                            </li>
                        </div>
                    </div>
                    <div class="s-12 l-2">
                        <li class="logo hide-s">
                            <a href="~/Home/Index" class="logo-link"><img src="~/Assets/img/logo.png" id="logo_img" style="width: 60%;" /></a>
                        </li>
                    </div>
                    <div class="s-12 l-5">
                        <li>
                            <a href="~/Home/Retail">PERAKENDECİLİK</a>
                        </li>
                        <li>
                            <a href="~/Home/Contact">İLETİŞİM</a>
                        </li>
                        <li>
                            <a href="~/Home/Loging" class="html5lightbox" data-group="set3" data-width="750" data-height="500"  style="margin-left: 50px;"><i class="icon-unlock_alt icon1x"></i> GİRİŞ</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>

