@{
    Layout = null;
}

<header style="position: fixed;z-index: 999;width: 100%;">
    <nav>
        <div class="line">
            <div class="top-nav">
                <li class="logo hide-l">
                    <a href="index.html"><img src="~/Assets/img/logo_l.png" /></a>
                </li>
                <p class="nav-text">Menü</p>
                <ul class="top-ul chevron">
                    <div class="s-12 l-5">
                        <div class="right">
                            <li>
                                <a href="product.html">ÜRÜN HAKKINDA</a>
                            </li>
                            <li>
                                <a href="services.html">FAYDALARI</a>
                            </li>
                        </div>
                    </div>
                    <div class="s-12 l-2">
                        <li class="logo hide-s">
                            <a href="index.html"><img src="~/Assets/img/logo.png" id="logo_img" style="width: 70%;" /></a>
                        </li>
                    </div>
                    <div class="s-12 l-5">
                        <li>
                            <a href="gallery.html">PERAKENDECİLİK</a>
                        </li>
                        <li>
                            <a href="contact.html">İLETİŞİM</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>

