@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Banner.cshtml")

<!-- FIRST BLOCK --> 
<div id="first-block">
    <div class="line" style="width: 80%; margin: auto; padding: 0 .5em;">
        <h2>Some awesome blocks</h2>
        <p class="subtitile">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
        <div class="margin">
            <div class="s-12 l-3 margin-bottom">
                <i class="icon-paperplane_ico icon2x"></i>
                <h3>About</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
            <div class="s-12 l-3 margin-bottom">
                <i class="icon-star icon2x"></i>
                <h3>Company</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
            <div class="s-12 l-3 margin-bottom">
                <i class="icon-message icon2x"></i>
                <h3>Services</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
            <div class="s-12 l-3 margin-bottom">
                <i class="icon-mail icon2x"></i>
                <h3>Contact</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- SECOND BLOCK -->
<div id="second-block">
    <div class="line">
        <div class="margin-bottom">
            <div class="margin">
                <article class="s-12 l-8 center">
                    <h1>Amazing title</h1>
                    <p class="margin-bottom">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                    <a class="button s-12 l-4 center" href="product.html">Read more</a>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- GALLERY -->
<div id="third-block">
    <div class="line" style="width: 80%; margin: auto; padding: 0 .5em;">
        <h2>Responsive gallery</h2>
        <p class="subtitile">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
        <div class="margin">
            <div class="s-12 l-3">
                <img src="~/Assets/img/first-small.jpg">
                <p class="subtitile">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
            </div>
            <div class="s-12 l-3">
                <img src="~/Assets/img/second-small.jpg">
                <p class="subtitile">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
            </div>
            <div class="s-12 l-3">
                <img src="~/Assets/img/third-small.jpg">
                <p class="subtitile">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
            </div>
            <div class="s-12 l-3">
                <img src="~/Assets/img/fourth-small.jpg">
                <p class="subtitile">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Footer.cshtml")
