
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Minimal Coming Soon Page</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/Assets/_plugin/countdown/reset.css">
    <link rel="stylesheet" href="~/Assets/_plugin/countdown/stylesheet.css">
    <link rel="stylesheet" href="~/Assets/_plugin/countdown/style.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!-- IE fix for HTML5 tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- jQuery and Modernizr-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="~/Assets/_plugin/countdown/modernizr.custom.js"></script>
    <!-- Countdown timer and other animations -->
    <script src="~/Assets/_plugin/countdown/jquery.countdown.js"></script>
    <script src="~/Assets/_plugin/countdown/script.js"></script>
</head>
<body>
    <header>
        <h1>Coming Soon!</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    </header>
    <div id="main">
        <div id="counter"></div>
        <form action="" method="get">
            <input type="text" class="email" placeholder="Input your e-mail address here..." required />
            <input type="submit" class="submit" value="Let me Notified" />
        </form>
    </div>
</body>
</html>
